<% include header %>

<nav>
  <% for (var i = 0; i < categorieen.length; i++) { %>
    <a href="/categorieen/<%- i %>"><%- categorieen[i] %></a>
  <% } %>
</nav>

<!--zoekbalk werkt niet-->
<!--
<input type="text" id="myInput"  placeholder="Search for names.." title="Type in a name">

<table id="myTable">

  <% kunst.forEach(function(item){ %>
<div class="balk" id=<%- item.titel %>
-->
<% var teller = 1; %>
    <section>
          <img src="/img/<%- item.afbeeldings %>" alt="<%- item.titel %>">

        <h2>
          <a href=/items/<%- item.id %>><%- item.titel %></a>
        </h2>
    </section>
    <% teller++;}); %>

<% include footer %>
