<% include header %>

<nav>
  <% for (var i = 0; i < categorieen.length; i++) { %>
    <a href="/categorieen/<%- i %>"><%- categorieen[i] %></a>
  <% } %>
</nav>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <% var teller = 1; %>
  <% nieuws.forEach(function(item){ %>
    <section>
        <h2>
          <a href=/items/<%- item.id %>><%- item.titel %></a>
        </h2>
        <img src="/img/<%- item.afbeeldings %>" alt="<%- item.titel %>">
        <p><%- item.datum %></p>

        <p>
          <%- item.samenvatting %>
        </p>

    </section>
    <% teller++;}); %>

<% include footer %>
